# API y LLM
groq==0.4.2

# Framework web
streamlit==1.32.2

# Utilidades
python-dotenv==1.0.1

# Formateo y desarrollo
black==24.2.0
pylint==3.1.0
pytest==8.1.1

# Manejo de datos
python-json-logger==2.0.7 